<html>

<head>
    <title>Small Game</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css')  }}">
</head>

<body>
    <div class="container">
        <h1>{{ title }}</h1>

        <p>{{ text }}</p>


        {% if choices %}

        <p>What will you do?</p>

        <div class="grid-container">
            {% for (page_name, choice, image) in choices %}
            <div class="grid-item">

                <img src="{{ image }}" alt="this is a test" />

            </div>
            <div class="grid-item">

                <a href="{{url_for(page_name)}}">{{choice}}</a>
            </div>
            {% endfor %}

        </div>

        {% else %}

        <img src="{{ end_photo }}" alt="This is your end" />

        <p>THE END.</p>

        <p><a href="{{url_for('start')}}">Play again.</a></p>
        {% endif %}


    </div>
</body>

</html>